# This is Git's per-user configuration file.
[user]
	name = Fabricio Yamamoto
	email = fyamamoto@bol.com

[includeIf "gitdir:~/Desktop/projects/waes/"]
  path = .gitconfig-waes

[includeIf "gitdir:~/Desktop/projects/personal/"]
  path = .gitconfig-personal

[includeIf "gitdir:~/.dotfiles/"]
  path = .gitconfig-personal

[include]
    path = .config/delta/config.gitconfig
