# This is Git's per-user configuration file.
[user]
	name = fabriciorby
	email = fabriciorby@hotmail.com

[includeIf "gitdir:~/Desktop/projects/waes/"]
  path = .gitconfig-waes

[include]
    path = .config/delta/config.gitconfig
[core]
	autocrlf = input
